:root {
    --yellow: #FFECB3;
    --beige: #F4EFE6;
    --brown: #8E735B;
    --dark_brown: #3E2723;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

ul {
    list-style-type: none;
    margin: 0 !important;
}

h1 {
    color: var(--beige);
    opacity: 1;
    z-index: 100 !important;
}

body {
    font-family: 'Baskerville', cursive !important;
    margin: 0px;
    padding: 0px;
}

header {
    color: var(--dark_brown);
    font-weight: bold;
    background-color: var(--yellow);
}

main {
    min-height: 80vh;
    background-image: url('../assets/site_pics/jumbo.jpeg');
    background-size: cover;
}

footer {
    background-color: var(--beige);
}

nav img {
    height: 60px;
    width: 60px;
}

#site_name {
    font-size: 2rem;
}

/* Creates an overlay to better show text in main */
/* main::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    z-index: 0;
} */

.footer_bottom {
    background-color: var(--brown);
}

