body {
    font-family: 'Baskerville', cursive !important;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

ul {
    list-style-type: none;
    margin: 0 !important;
}

main {
    min-height: 80vh;
    background-image: url('../assets/site_pics/jumbo.jpeg');
    background-size: cover;
}

header {
    font-weight: bold;
}

nav img {
    height: 60px;
    width: 60px;
}

#site_name {
    font-size: 2rem;
}



