/* Next selectors manage hover effect (from cover to info) */

.card {
    position: relative;
}

.card_img {
    height: 100%;
    transition: opacity 0.8s;
}

.card:hover > .card_img {
    opacity: 0.1;
    transition: opacity 0.8s;
}

.card:hover > .info_container {
    opacity: 1;
}

.info_container {
    opacity: 0;
    position: absolute;
    inset: 0px;
    overflow-y: auto;
}


